.contact-section {
    padding: 6rem 0;
    background: #F1F1F1;
}

.contact-section .contact-content .left-content h4 {
    text-transform: uppercase;
    background: linear-gradient(178deg, rgba(255, 233, 177, 1) 0%, rgba(221, 160, 3, 1) 100%);
    font-size: 16px;
    display: inline;
    padding: 4px 18px;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: left;
}

.contact-section .contact-content .left-content h2 {
    font-size: 50px;
    text-align: left;
    max-width: 600px;
    margin: 0;
    color: black;
}

.contact-section .contact-content .left-content p {
    font-size: 16px;
    color: #474747;
    margin: auto;
    line-height: 28px;
    transition: all 0.3s linear;
    padding-top: 0;
}

.contact-details .icons {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contact-details .icons svg {
    width: 20px;
    height: 20px;
}

.contact-details h6 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-details {
    padding-top: 30px;
}

.contact-details .call .icons {
    background: #FFECBB;
}

.contact-details .time .icons {
    background: #A4EDA4;
}

.contact-details .location .icons {
    background: #EAEAEA;
}

.contact-details .call,
.contact-details .time,
.contact-details .location {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
}

.contact-details .call, .contact-details .time {
    padding-bottom: 30px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.right-content form .data-1,
.right-content form .data-2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.right-content form .data-1 label, .right-content form .data-2 label,
.text-message label{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 5px;
}

.contact-section .right-content,
.contact-section .left-content {
    width: calc(50% - 30px);
}

.contact-section .right-content .form_full_name, .contact-section .right-content .email, .contact-section .right-content .form_phone, .contact-section .right-content .company {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-section .right-content input[type="text"] {
    border: none;
    padding: 22px 23px;
    border-radius: 40px;
    text-transform: capitalize;
}
.right-content form .data-1,
.right-content form .data-2 {
    padding-bottom: 30px;
}
.right-content .text-message {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-content textarea {
    border: none;
    padding: 22px 23px;
    border-radius: 20px;
    text-transform: capitalize;
    min-height: 10rem;
    resize: vertical;
}
.contact-content button.upload-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    border-radius: 40px;
    background: #4EAF4E;
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 30px;
}
span.mandatory {
    color: red;
}