.grid-section {
    background: #F1F1F1;
    padding: 6rem 1.8rem;
}

.grid-section .inner_content_section h3 {
    text-transform: uppercase;
    background: linear-gradient(178deg, rgba(255, 233, 177, 1) 0%, rgba(221, 160, 3, 1) 100%);
    font-size: 16px;
    display: inline;
    padding: 4px 18px;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.grid-section .inner_content_section h2 {
    font-size: clamp(1.375rem, 0.9013rem + 2.1656vw, 3rem);
    line-height: 1.2;
    padding-top: 25px;
    margin: 0 auto;
    max-width: 900px;
}

.grid-inner-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    grid-gap: 30px;
}

.grid-inner-content .grid-body .title {
    font-size: 25px;
    font-weight: 700;
    transition: all 0.3s linear;
    padding-top: 12px;
}

.grid-inner-content .grid-body .des {
    font-size: 16px;
    color: #474747;
    max-width: 350px;
    margin: auto;
    line-height: 28px;
    transition: all 0.3s linear;
    padding-top: 10px;
}

.grid-inner-content .grid-body {
    background: white;
    padding: 30px;
    border-radius: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.grid-section .inner_content_section {
    text-align: center;
}

.grid-inner-content .grid-body:hover :is(.title, .des) {
    color: white;
}

.grid-inner-content .grid-body:hover {
    background: #181818;
}

.grid-inner-content .grid-body {
    grid-column: span 2;
}

.grid-inner-content .grid-body.active {
    background: #181818;
}

.grid-inner-content .grid-body.active .title, .grid-inner-content .grid-body.active .des {
    color: white;
}

@media screen and (max-width: 989px) {
    .grid-section {
        padding: 3rem 1.8rem;
    }
}

@media screen and (min-width: 990px) {
    .grid-inner-content .grid-body:last-child:nth-child(3n - 2) {
        grid-column-end: 5;
    }

    .grid-inner-content .grid-body:last-child:nth-child(3n - 1) {
        grid-column-end: 6;
    }

    .grid-inner-content .grid-body:nth-last-child(2):nth-child(3n+1) {
        grid-column-end: 4;
    }
}

@media screen and (max-width: 989px) {
    .grid-inner-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-inner-content .grid-body {
        grid-column: span 2;
    }

    .grid-inner-content .grid-body:last-child:nth-child(2n - 1) {
        grid-column-end: 4;
    }

    .grid-inner-content .grid-body:nth-last-child(2):nth-child(2n+1) {
        grid-column-end: 5;
    }
    .grid-inner-content .grid-body{
        padding: 20px;
    }
}

@media screen and (max-width: 576px){
    .grid-inner-content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 0;
    }
    .grid-inner-content .grid-body:last-child:nth-child(2n - 1) {
        grid-column-end: 3;
    }
}