.image_banner_section {
  background-image: url("../images/Photo.png");
  min-height: 800px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.image_banner_section:after {
  position: absolute;
  content: '';
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.inner-content>* {
  margin: 0;
}

.image_banner_section .inner-content .buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 13px;
}

.video-section {
  display: flex;
  max-height: 800px;
}

.video-section video {
  width: 100%;
  height: 100%;
  min-height: 800px;
  object-fit: cover;
}

.video-section:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.image_banner_section .inner-content {
  max-width: 650px;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: #ffffffb8;
  padding: 30px;
  border-radius: 30px;
}

.inner-content h2 {
  font-size: clamp(1.375rem, 0.9013rem + 2.1656vw, 3.5rem);
  line-height: 1.2;
  margin: 0;
}

.image_banner_section .inner-content p {
  padding-top: 16px;
  max-width: 500px;
  padding-bottom: 40px;
}

.inner-content .buttons button {
  background: white;
  border: none;
  text-transform: capitalize;
  padding: 18px 30px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
}

.inner-content .buttons button.service {
  background: #4eaf4e;
  color: white;
  margin-right: 0;
}

.book_appoinment span.calender {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(90deg,
      rgba(255, 233, 177, 1) 0%,
      rgba(221, 160, 3, 1) 100%);
}

.inner-content .buttons button.book_date {
  padding: 11px 20px 11px 10px;
}

span.book_appoinment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.book_appoinment span.calender svg {
  color: #000;
  width: 20px;
  height: 20px;
}

.image_banner_section .inner-content.buttons {
  display: flex;
  align-items: center;
}

.image-section .swiper .swiper-slide:nth-child(even) .image_banner_section .inner-content {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-section .swiper .swiper-slide:nth-child(even) .image_banner_section .inner-content p {
  margin: auto;
}

.image-section .swiper .swiper-slide:nth-child(even) .image_banner_section .inner-content .buttons {
  justify-content: center;
}

.image-section .swiper .swiper-button-next:before,
.image-section .swiper .swiper-button-prev:before {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
}

.image-section .swiper .swiper-button-next:before {
  content: "next";
}

.image-section .swiper .swiper-button-prev:before {
  content: "prev";
}



.image-section .swiper .swiper-button-prev:after {
  background-image: url("../images/prev.png");
  background-size: cover;
  background-position: center;
  font-size: 0;
  width: 45px;
  height: 45px;
  font-size: 0;
  margin-right: 10px;
  transition: all 0.3s linear;
}

.image-section .swiper .swiper-button-next:after {
  background-image: url("../images/next.png");
  background-size: cover;
  background-position: center;
  font-size: 0;
  width: 45px;
  height: 45px;
  font-size: 0;
  margin-left: 10px;
  transition: all 0.3s linear;
}

.image-section .swiper .swiper-button-prev:hover:after {
  background-image: url("../images/prevhover.png");
}

.image-section .swiper .swiper-button-next:hover:after {
  background-image: url("../images/nexthover.png");
}

.image-section .swiper .swiper-button-next.swiper-button-disabled::after {
  transform: rotate(180deg);
}

.image-section .swiper .swiper-button-prev.swiper-button-disabled::after {
  transform: rotate(-180deg);
}

.blog-sec .swiper {
  padding-bottom: 130px;
}

.image-section .swiper .swiper-button-prev {
  left: 0;
  flex-direction: row-reverse;
  padding: 30px 25px 30px 0;
  width: 140px;
  border-radius: 40px;
  background: #dfdfdf;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  opacity: 0;
  transition: all 0.3s linear;
}

.image-section .swiper .swiper-button-next {
  right: 0;
  padding: 30px 0px 30px 25px;
  width: 140px;
  border-radius: 40px;
  background: #dfdfdf;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  transition: all 0.3s linear;
  opacity: 0;
}
/* .image-section .swiper .swiper-button-next.swiper-button-disabled,
.image-section .swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
} */
.image-section .swiper:hover .swiper-button-next {
  opacity: 1;
  right: 30px;
}

.image-section .swiper:hover .swiper-button-prev {
  opacity: 1;
  left: 30px;
}

.image-section .swiper-horizontal>.swiper-pagination-bullets {
  bottom: 45px;
  z-index: 1;
}

.image-section .swiper .swiper-pagination-clickable .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4eaf4e;
  border: 1px solid transparent;
}

.image-section .swiper .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #ffffff;
  transition: all 0.3s linear;
}

@media screen and (max-width: 1340px) {
  .image-section .swiper-horizontal>.swiper-pagination-bullets {
    bottom: 30px;
  }

  .image-section .swiper .swiper-button-next {
    right: 15px;
    top: auto;
    bottom: 15px;
  }

  .image-section .swiper .swiper-button-prev {
    left: 15px;
    top: auto;
    bottom: 15px;
  }

  .image-section .swiper .swiper-button-prev::before,
  .image-section .swiper .swiper-button-next::before {
    display: none;
  }

  .image-section .swiper .swiper-button-next,
  .image-section .swiper .swiper-button-prev {
    padding: 0;
    width: 55px;
    height: 55px;
  }

  .image-section .swiper .swiper-button-prev:after,
  .image-section .swiper .swiper-button-next:after {
    margin: 0;
  }

  .image-section {
    padding: 0;
  }
}

/* @media screen and (min-width: 1341px) and (max-width: 1540px) {
  .image-section .swiper .swiper-button-next {
    right: 450px;
  }

  .image-section .swiper .swiper-button-prev {
    left: 450px;
  }
} */

@media screen and (min-width: 1200px) and (max-width: 1540px) {
  .image_banner_section .container {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

@media screen and (max-width: 1199px) {

  .image_banner_section,
  .video-section video {
    min-height: 550px;
  }

  .video-section {
    max-height: 550px;
  }

  .image_banner_section .inner-content {
    margin: 0 20px;
  }
}

@media screen and (max-width: 767px) {

  .image_banner_section,
  .video-section video {
    min-height: 500px;
  }

  .video-section {
    max-height: 500px;
  }

  .inner-content .buttons button {
    padding: 12px 30px;
  }

  .image_banner_section .inner-content {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    margin: 0;
    padding: 15px;
  }

  .image_banner_section .inner-content p {
    margin: auto;
    padding-bottom: 20px;
  }

  .image_banner_section .inner-content .buttons {
    justify-content: center;
  }

  .inner-content .buttons button.book_date {
    padding: 8px 20px 8px 10px;
  }

  .book_appoinment span.calender {
    width: 28px;
    height: 28px;
  }

  .book_appoinment span.calender svg {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 480px) {
  .image-section .swiper .swiper-button-next {
    right: 15px;
    top: auto;
    bottom: 15px;
    width: 35px;
    height: 35px;
  }

  .image-section .swiper-horizontal>.swiper-pagination-bullets {
    bottom: 20px;
  }

  .image-section .swiper .swiper-button-next:after,
  .image-section .swiper .swiper-button-prev:after {
    width: 29px;
    height: 29px;
  }

  .image-section .swiper .swiper-button-prev {
    left: 15px;
    top: auto;
    bottom: 15px;
    width: 35px;
    height: 35px;
  }
}