.tab_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;    
}

.top_bar_section {
    background: #181818;
    color: #FFF;
}

.left_content p {
    margin: 0;
}

.top_bar_section .left_content>* {
    font-size: 14px;
}

.top_bar_section .left_content :is(.time, .address) {
    display: flex;
    align-items: center;
    gap: 6px;
}
.top_bar_section .left_content {
    display: flex;
    gap: 25px;
}
.top_bar_section .left_content svg {
    width: 18px;
    height: 18px;
    color: #FFCC4A;
}
.top_bar_section .right_content {
    display: flex;
    gap: 15px;
}
.top_bar_section .right_content svg{
    transition: all 0.3s linear;
    cursor: pointer;
}
.top_bar_section .right_content svg:hover{
    color: #4EAF4E;
}
@media screen and (max-width: 1200px){
    .tab_bar{
        padding: 15px;
    }
}
    
@media screen and (max-width: 749px){
    .tab_bar{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 5px;
        padding: 16px 10px;
    }
    .top_bar_section .left_content{
        gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
